* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo: #181a1a;
    --color-fondo2: #1d293a;
    --color-tipografia: #00cf5d;
    --color-tipografia2: #fff;

}

body {
    background-color: var(--color-fondo);
}

/* HEADER CONTENT */
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.header__container a {
    text-decoration: none;
}

.navbar__list {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    background-color: var(--color-fondo);
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.navbar__list a {
    color: var(--color-tipografia2);
}

.menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
}

.abrir__menu,
.cerrar__menu {
    font-size: 1.5rem;
    padding: 6px;
    border: 0;
    border-radius: 4px;
    background-color: var(--color-tipografia);
}

/* MAIN CONTENT */
.main__container {
    text-align: center;
    margin-top: 3rem;
}

.main__text p {
    font-size: 21px;
    color: var(--color-tipografia)
}

.main__text h2 {
    font-size: 56px;
    color: var(--color-tipografia2);
}

.main__text h3 {
    font-size: 26px;
    color: var(--color-tipografia);
}

.typed {
    color: white;
    font-size: 18px;
}

.main__button__container {
    margin-top: 1.5rem;
}

.main__button1 {
    font-size: 18px;
    color: white;
    margin-right: 10px;
    padding: 12px 20px;
    background-color: var(--color-tipografia);
    border: solid var(--color-tipografia);
    border-radius: 5px;
    text-decoration: none;
}

.main__button2 {
    font-size: 18px;
    color: white;
    padding: 12px 18px;
    background-color: var(--color-fondo);
    border: solid var(--color-tipografia);
    border-radius: 5px;
    text-decoration: none;
}

/* SOBRE MI SECCION */
.about__container {
    color: white;
    text-align: center;
    margin-top: 4rem;
}
.about__container h3 {
    font-size: 20px;
}
.about__container p {
    margin: 1rem;
    
}

.about__container img {
    width: 20%;
    height: 20%;
    margin-top: 1rem;
    filter: grayscale(100%);
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

.about__container img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: all .7s;
}

/* TECNOLOGIAS */

.tecnologias__container h3 {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 4rem;
}

.tecnologias__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    gap: .5rem;
}

.tecnologias__content img {
    
    width: 4rem;
}

/* HOBBIES */

.hobbies__container h3 {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 4rem;
}

.hobbies__content {
    display: flex;
    justify-content: center;
    margin: 1.5rem auto;
    gap: 1rem;
    flex-wrap: wrap;
}
.hobbie__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    background-color: #1d293a;
    padding: 4rem;
}
.hobbie__card img {
    background-color: #00cf5d;
    width: 2rem;
}
.hobbie__card p {
    color: white;
    font-size: 1.5rem;
}

/* PORTAFOLIO */
.cards__portfolio h3 {
    text-align: center;
    color: white;
    margin-top: 4rem;
}
.cards__container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 2rem auto;
    flex-wrap: wrap;
}
.cards {
    background-color: var(--color-fondo2);
    margin-top: 2rem;
    border-radius: 5px;
    width: 80vw;    
}

.cards img {
    width: 100%;
}
.cards__text {
    color: white;
    margin-left: .5rem;
    padding: 1rem 0;
}
.cards__text h3 {
    text-align: left;
    font-size: 22px;
    
}
.cards__text p {
   text-align: left;
   font-size: 14px;
}
.cards__icons a {
    font-size: 1.5rem;
    padding: .2rem;
    color: white;
}

/* FOOTER */
.footer__container {
    background-color: var(--color-fondo2);
    text-align: center;
    color: white;
    font-size: 2rem;
    height: 30vh;
    margin: 2rem auto 0 auto;
}


/* VISTA DESKTOP<<<<<<<<<<<<<<< */
@media (min-width: 880px) {
    body {
        margin: 0 3rem;
    }

    .header__container {
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }

    .menu__list {
        visibility: visible;
        flex-direction: row;
        gap: 1rem;
    }

    #contacto__border {
        border: 2px solid var(--color-tipografia);
        border-radius: 4px;
        padding: 5px 15px;
    }

    .navbar__list {
        display: flex;
        margin: 1.3rem 3rem 0 3rem;
        padding: 1rem;

    }

    .abrir__menu {
        display: none;
    }

    .cerrar__menu {
        display: none;
    }

    /* MAIN CONTENT */
    .main__container {
        margin-top: 5rem;
    }

    .main__text p {
        font-size: 30px;
        color: var(--color-tipografia)
    }

    .main__text h2 {
        font-size: 80px;
        color: var(--color-tipografia2);
    }

    .main__text h3 {
        font-size: 41px;
        color: var(--color-tipografia);
    }
    /* SOBRE MI SECCION */
    .about__container {
        color: white;
        text-align: center;
        margin-top: 4rem;
    }
    .about__container h3 {
        font-size: 26px;
    }
    .about__container p {
        margin-top: 1rem;
    }
    .about__container img {
        width: 15%;
        margin-top: 1.5rem;
        filter: grayscale(100%);
        clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    }
    .about__container img:hover {
        filter: grayscale(0%);
        transform: scale(1.1);
        transition: all .7s;
    }
    /* HOBBIES */
    .hobbie__card {
        width: 20vw; 
    }
    .hobbie__card img {
        background-color: #00cf5d;
        width: 2rem;
    }
    /* TECNOLOGIAS */
    .tecnologias__container h3 {
        color: white;
        text-align: center;
        margin-top: 2rem;
    }

    .tecnologias__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    .tecnologias__content img {
        width: 6rem;
    }

    /* PORTAFOLIO */
    
    .footer__container {
        
    }
}