* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-fondo: #181a1a;
  --color-fondo2: #1d293a;
  --color-tipografia: #00cf5d;
  --color-tipografia2: #fff;
  font-family: "Montserrat", sans-serif;
  @import url:
    (
      "https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap"
    );
}

body {
  background-color: var(--color-fondo);
}

/* HEADER CONTENT */
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 1rem 0 1rem;
}

.header__container a {
  text-decoration: none;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  background-color: var(--color-fondo);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.navbar__list a {
  color: var(--color-tipografia2);
}
.navbar__list a:hover {
  color: var(--color-tipografia);
}

.menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.abrir__menu,
.cerrar__menu {
  font-size: 1.5rem;
  padding: 6px;
  border: 0;
  border-radius: 4px;
  background-color: var(--color-tipografia);
}

.cerrar__menu {
  margin: 1rem 1rem 0 0;
}

/* MAIN CONTENT */
.main__container {
  text-align: center;
  margin-top: 3rem;
}

.main__text p {
  font-size: 21px;
  color: var(--color-tipografia);
}

.main__text h2 {
  font-size: 56px;
  color: var(--color-tipografia2);
}

.main__text h3 {
  font-size: 26px;
  color: var(--color-tipografia);
}

.typed {
  color: white;
  font-size: 18px;
}

.main__button__container {
  margin-top: 1.5rem;
}

.main__button1 {
  font-size: 18px;
  color: white;
  margin-right: 10px;
  padding: 12px 20px;
  background-color: var(--color-tipografia);
  border: solid var(--color-tipografia);
  border-radius: 5px;
  text-decoration: none;
}

.main__button2 {
  font-size: 18px;
  color: white;
  padding: 12px 18px;
  background-color: var(--color-fondo);
  border: solid var(--color-tipografia);
  border-radius: 5px;
  text-decoration: none;
}

/* SOBRE MI SECCION */
.about__container {
  color: white;
  text-align: center;
  margin-top: 4rem;
}

.about__container h3 {
  font-size: 20px;
}

.about__container p {
  margin: 1rem auto;
  width: 80vw;
}

.about__container img {
  width: 30vw;

  margin-top: 1rem;
  /* filter: grayscale(100%); */
}

.about__container img:hover {
  /* filter: grayscale(0%); */
  transform: scale(1.1);
  transition: all 0.7s;
}

/* TECNOLOGIAS */

.tecnologias__container h3 {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 4rem;
}

.tecnologias__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.tecnologias__content img {
  width: 4rem;
}

/* HOBBIES */
.hobbies__container h3 {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 4rem;
}

.hobbies__content {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;
  gap: 1rem;
  flex-wrap: wrap;
}

.hobbie__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  background-color: #1d293a;
  padding: 4rem;
}

.hobbie__card img {
  width: 2rem;
}

.hobbie__card p {
  color: white;
  font-size: 1.5rem;
}

/* PORTAFOLIO */
.portafolio__container h3 {
  text-align: center;
  color: white;
  font-size: 20px;
}

.cards__container {
  display: grid;
  justify-content: center;
}

.card {
  width: 80vw;
  margin-top: 2rem;
}

.card img {
  width: 100%;
}

.card__text {
  color: white;
  background-color: var(--color-fondo2);
  padding: 1rem;
  text-align: left;
}

.card__text h3 {
  text-align: left;
  line-height: 1.2;
  font-size: 28px;
}

.card__text p {
  margin-bottom: 0.5rem;
}

.card__text a {
  color: white;
  font-size: 24px;
  padding-right: 0.3rem;
}
.wordpress__card img {
  height: 400px;
}

/* FOOTER */
.footer__container {
  display: grid;
  justify-self: center;
  align-items: center;
  background-color: var(--color-fondo2);
  text-align: center;
  color: white;
  height: 30vh;
  margin: 2rem auto 0 auto;
}

.footer__container h4 {
  font-size: 26px;
  margin-bottom: 1rem;
}

.footer__container a {
  color: white;
  font-size: 18px;
  padding: 0.2rem;
}

.footer__container p {
  margin: 1rem auto;
}

/* VISTA TABLET<<<<<<<<<<<<<<< */
@media (min-width: 620px) {
  /* ABOUT ME */
  .about__container p {
    font-size: 26px;
  }

  /* PORTAFOLIO */
  .portafolio__container h3 {
    font-size: 26px;
  }

  .cards__container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .card {
    width: 50vw;
    margin: 2rem auto;
  }

  .card__text h3 {
    text-align: left;
    line-height: 1.2;
    font-size: 28px;
  }

  .card__text a {
    color: white;
    font-size: 24px;
    line-height: 1.8;
    padding-right: 0.3rem;
  }
}

/* VISTA DESKTOP<<<<<<<<<<<<<<<< */
@media (min-width: 880px) {
  .header__container {
    display: flex;
    align-items: center;
  }

  .menu__list {
    visibility: visible;
    flex-direction: row;
    gap: 1rem;
  }
  #contacto__border {
    color: white;
    border: 2px solid var(--color-tipografia);
    border-radius: 4px;
    padding: 5px 15px;
  }
  #contacto__border:hover {
    background-color: #00cf5d;
    transition: 0.3s;
  }
  .navbar__list {
    display: flex;
    margin: 1.3rem 3rem 0 3rem;
    padding: 1rem;
  }

  .abrir__menu {
    display: none;
  }

  .cerrar__menu {
    display: none;
  }

  /* MAIN CONTENT */
  .main__container {
    margin-top: 5rem;
  }

  .main__text h2 {
    font-size: 100px;
    color: var(--color-tipografia2);
  }

  .main__text p {
    font-size: 40px;
    color: var(--color-tipografia);
  }

  .main__text h3 {
    font-size: 41px;
    color: var(--color-tipografia);
  }

  /* SOBRE MI SECCION */
  .about__container {
    color: white;
    text-align: center;
    margin-top: 4rem;
  }

  .about__container h3 {
    font-size: 26px;
  }
  .about_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10rem 0 20rem;
  }

  .about__container p {
    font-size: 1rem;
    margin: 7rem 15rem 7rem 0;
  }

  .about__container img {
    width: 20%;
    /* filter: grayscale(100%);
        clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); */
  }

  .about__container img:hover {
    /* filter: grayscale(0%); */
    transform: scale(1.1);
    transition: all 0.7s;
  }

  /* HOBBIES */
  /* .hobbies__container h3 {
    font-size: 26px;
  }

  .hobbie__card {
    width: 20vw;
  }

  .hobbie__card img {
    width: 2rem;
  } */

  /* TECNOLOGIAS */
  .tecnologias__container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .tecnologias__container h3 {
    justify-content: center;
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 26px;
    
  }

  .tecnologias__content {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 2rem;
  }

  .tecnologias__content img {
    width: 7rem;
  }

  /* PORTAFOLIO */
  .portafolio__container h3 {
    font-size: 26px;
  }

  .cards__container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 10rem 0 10rem;
    gap: 1;
  }

  .card {
    width: 30vw;
    
  }
  .card img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .card__text {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .card__text h3 {
    text-align: left;
    line-height: 1.2;
    font-size: 28px;
  }

  .card__text a {
    color: white;
    font-size: 24px;
    line-height: 1.8;
    padding-right: 0.3rem;
  }
  /* WORDPRESS PORTAFOLIO */
  .wp_cards_container h3 {
    font-size: 26px;
    color: white;
    text-align: center;
  }
  .wp_card_content {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    
  }
  .wp_card {
    margin: 1rem;
    
  }
  .wp_card img {
    width: 400px;
    height: 250px;
    border-radius: 20px;
    
  }
  .wp_card:hover {
    transform: translateY(-30px);
    transition: all 2s;
  }

  /* FOOTER */
  .footer__container {
    display: grid;
    align-items: center;
    background-color: var(--color-fondo2);
    text-align: center;
    color: white;
    height: 30vh;
    margin: 2rem auto 0 auto;
  }

  .footer__container h4 {
    font-size: 30px;
  }

  .footer__container a {
    color: white;
    font-size: 34px;
  }
}
