* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --color-fondo: #181a1a;
  --color-fondo2: #1d293a;
  --color-tipografia: #00cf5d;
  --color-tipografia2: #fff;
  font-family: "poppins", sans-serif;
}
body {
  background-color: var(--color-fondo);
  overflow-x: hidden;
  .navbar__list a {
    color: white
  }
  .about_content p {
    color: white;
  }
  .about__container h3 {
    color: white;
  }
  .card-content h3 {
    color: white;
  }
  .card-content p {
    color: white;
  }
  .portfolio-title {
    color: white;
  }
  .card {
    background-color: var(--color-fondo2);
  }
  p {
    color: var(--color-tipografia);
  }
  h2 {
    color: white;
  }
  h3 {
    color: var(--color-tipografia);
  }
  a {
    color: white;
  }
  .tech {
    background-color: var(--color-tipografia);
  }
  .tech-item p {
    color: white
  }
}
.light-mode {
  background-color: var(--color-tipografia2);
  color: black;
  .navbar__list a {
    color: black
  }
  #contacto__border{
    color: black;
  }
  h1 a {
    color: black;
  }
  .about__container h3 {
    color: black;
  }
  .about_content p {
    color: black;
  }
  .tech-container h3 {
    color: black;
  }
  .tech-item p {
    color: black
  }
  .portfolio-title {
    color: black;
  }
  .card {
    background-color: var(--color-tipografia2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  .card-content h3 {
    color: black;
  }
  .card-content p {
    color: black;
  }
  .footer__container {
    background-color: white;
  }
  .footer__content h4 {
    color: black;
  }
  .footer__content a {
    color: black;
  }
  p {
    color: var(--color-tipografia);
  }
  h2 {
    color: black;
  }
  h3 {
    color: var(--color-tipografia);
  }
  .typed {
    color: black;
  }
}
/************ VISTA MOBILE ***************/
@media (min-width: 320px) {
  /* Header */
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 1rem 0 1rem;
  }
  .header__container a {
    text-decoration: none;
  }
  .navbar__list {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: end;
    gap: 1rem;
    background-color: var(--color-fondo);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    visibility: hidden;
    /* transform: translateX(100%); */
  }
  .btn-dark-light {
    border: solid 2px white;
    border-radius: 15px;
  }
  .btn-dark-light button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .navbar__list a:hover {
    color: var(--color-tipografia);
  }
  .menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
  }
  .abrir__menu,
  .cerrar__menu {
    font-size: 1.5rem;
    padding: 6px;
    border: 0;
    border-radius: 4px;
    background-color: var(--color-tipografia);
  }
  .cerrar__menu {
    margin: 1rem 1rem 0 0;
  }
  /* MAIN CONTENT */
  .main__container {
    text-align: center;
    margin-top: 3rem;
  }
  .main__text p {
    font-size: 21px;
    /* color: var(--color-tipografia); */
  }
  .main__text h2 {
    font-size: 56px;
  }
  .main__text h3 {
    font-size: 26px;
    /* color: var(--color-tipografia); */
  }
  .typed {
    /* color: white; */
    font-size: 18px;
  }
  .main__button__container {
    margin-top: 1.5rem;
  }
  .main__button1 {
    font-size: 18px;
    color: white;
    margin-right: 10px;
    padding: 12px 20px;
    background-color: var(--color-tipografia);
    border: solid var(--color-tipografia);
    border-radius: 5px;
    text-decoration: none;
  }
  .main__button1:hover {
    background-color: var(--color-fondo);
    border: solid var(--color-tipografia);
    color: white;
  }
  .main__button2 {
    font-size: 18px;
    color: white;
    padding: 12px 18px;
    background-color: var(--color-fondo);
    border: solid var(--color-tipografia);
    border-radius: 5px;
    text-decoration: none;
  }
  .main__button2:hover {
    background-color: var(--color-tipografia);
    border: solid var(--color-tipografia);
  }

  /* SOBRE MI SECCION */
  .about__container {
    text-align: center;
    margin-top: 4rem;
  }
  .about__container h3 {
    font-size: 20px;
  }

  .about__container p {
    margin: 1rem auto;
    width: 80vw;
  }
  .about__container img {
    width: 30vw;
    margin-top: 1rem;
    /* filter: grayscale(100%);
  }
  .about__container img:hover {
    /* filter: grayscale(0%); */
    transform: scale(1.1);
    transition: all 0.7s;
  }

  /* TECNOLOGIAS */
  .tech-container h3 {
    justify-content: center;
    color: white;
    text-align: center;
    margin-top: 3rem;
    font-size: 20px;
  }
  .tech-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
  }
  .tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .tech-item p {
    color: white;
  }
  .tech-content img {
    width: 4rem;
  }
  /* PORTAFOLIO */
  .portfolio-title {
    margin-top: 2rem;
    text-align: center;
    font-size: 20px;
  }
  .portfolio-container {
    display: grid;
    justify-content: center;
  }
  .card {
    border-radius: 15px;
    width: 80vw;
    margin-top: 2rem;
  }
  .card img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .card-content {
    padding: 1rem;
    text-align: left;
  }
  .card-content h3 {
    text-align: left;
    line-height: 1.2;
    font-size: 28px;
  }
  .card-content p {
    margin-bottom: 0.5rem;
  }
  .card-content a {
    font-size: 24px;
    padding-right: 0.3rem;
  }
  span {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 3px;
    transition: background 0.3s ease;
  }
  span:hover {
    background: var(--color-fondo);
  }
  /* FOOTER */
  .footer__container {
    display: grid;
    justify-self: center;
    align-items: center;
    background-color: var(--color-fondo2);
    text-align: center;
    color: white;
    height: 30vh;
    margin: 2rem auto 0 auto;
  }
  .footer__container h4 {
    font-size: 26px;
    margin-bottom: 1rem;
  }
  .footer__container a {
    color: white;
    font-size: 18px;
    padding: 0.2rem;
  }
  .footer__container p {
    margin: 1rem auto;
  }
}
/*************VISTA TABLET<<<<<<<<<<<<<<< */
@media (min-width: 620px) {
  /* ABOUT ME */
  .about__container p {
    font-size: 26px;
  }

  /* PORTAFOLIO */
  .portafolio-title {
    font-size: 26px;
  }

  .cards-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .card {
    width: 50vw;
    margin: 2rem auto;
  }

  .card-content h3 {
    text-align: left;
    line-height: 1.2;
    font-size: 28px;
  }

  .card-content a {
    color: white;
    font-size: 24px;
    line-height: 1.8;
    padding-right: 0.3rem;
  }
}
/**************** VISTA DESKTOP<<<<<<<<<< */
@media (min-width: 880px) {
  .menu__list {
    visibility: visible;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  #contacto__border {
    color: white;
    border: 2px solid var(--color-tipografia);
    border-radius: 4px;
    padding: 5px 15px;
  }
  #contacto__border:hover {
    background-color: #00cf5d;
    transition: 0.3s;
  }
  .navbar__list {
    display: flex;
    margin: 1.3rem 3rem 0 3rem;
    padding: 1rem;
  }
  .abrir__menu {
    display: none;
  }
  .cerrar__menu {
    display: none;
  }
  /* MAIN CONTENT */
  .main__container {
    margin-top: 5rem;
  }
  .main__text h2 {
    font-size: 100px;
  }
  .main__text p {
    font-size: 40px;
  }
  .main__text h3 {
    font-size: 41px;
  }
  /* SOBRE MI SECCION */
  .about__container {
    text-align: center;
    margin-top: 6rem;
    h3 {
      font-size: 26px;
    }
  }
  .about_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 20rem 2rem 20rem;
  }
  .about_content p {
    font-size: 1.2rem;
  }
  .about__container img {
    width: 22%;
    /* filter: grayscale(100%);
        clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); */
  }
  .about__container img:hover {
    /* filter: grayscale(0%); */
    transform: scale(1.1);
    transition: all 0.7s;
  }
  /* TECNOLOGIES */
  .tech-container h3 {
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 26px;
  }
  .tech-content {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
  }
  .tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .tech-item:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.9);
  }
  .tech-item img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
  }
  .tech-item img:hover {
    transform: scale(1.1);
  }
  .tech-item p {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  /* PORTAFOLIO */
  .portfolio-title {
    text-align: center;
    font-size: 2rem;
  }
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 2rem;
    width: 90%;
    max-width: 1000px;
  }
  /* Estilos de cada card */
  .card {
    background: var(--color-fondo2);
    width: 25vw;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 90%;
  }
  /* Efecto hover */
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  /* Imagen de la card */
  .card img {
    width: 100%;
  }
  /* Contenido de la card */
  .card-content {
    padding: 15px;
    text-align: start;
  }

  .card-content h3 {
    margin: 10px 0;
    font-size: 20px;
    color: var(--color-tipografia2);
  }

  .card-content p {
    font-size: 14px;
    color: var(--color-tipografia2);
    margin-bottom: 10px;
  }
  .card-content a {
    margin: 0.5rem;
    color: var(--color-tipografia2);
    font-size: 1.6rem;
  }
  .card-content a:hover {
    color: var(--color-tipografia);
    font-size: 1.5rem;
  }
  /* FOOTER */
  .footer__container {
    display: grid;
    align-items: center;
    background-color: var(--color-fondo2);
    text-align: center;
    color: white;
    height: 30vh;
    margin: 2rem auto 0 auto;
  }

  .footer__container h4 {
    font-size: 30px;
  }

  .footer__container a {
    color: white;
    font-size: 40px;
  }
  .footer__container a:hover {
    color: #00cf5d;
  }
}
